
    <!-- slider Area Start-->
    <div class="slider-area">
        <div class="slider-active">
            <!-- Single Slider -->
            <div class="single-slider slider-height d-flex align-items-center">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-6 col-lg-6 col-md-8 col-sm-10">
                            <div class="hero__caption" *ngFor="let x of aboutData">
                                <h1 data-animation="fadeInUp" data-delay=".6s" class="text-white">{{x.title}}</h1>
                                <P data-animation="fadeInUp" data-delay=".8s" class="text-white">{{x.description}}</P>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </div>
    <!-- slider Area End-->
    <!--? Services Area Start -->
    <div class="service-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle text-center mb-80">
                        <span>What we are doing</span>
                        <h2>We Are In A Mission To Help The Helpless</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <!-- <div class="col-lg-4 col-md-6 col-sm-6 mb-5" ng-repeat="x in gospeldata" style="min-height: 100%;">
                    <div class="single-cat text-center mb-50" style="min-height: 100%;">
                        <div class="cat-icon">
                            <span class="flaticon"><img src="./assets/icons/{{x.activities}}.png"></span>
                            
                        </div>
                        <div class="cat-cap">
                            <h5><a href="{{x.links}}">{{x.activities}}</a></h5>
                            <p>{{x.description}}</p>
                        </div>
                    </div>
                </div> -->
                
               
            </div>
        </div>
    </div>
    <!-- Services Area End -->
    <!--? About Law Start-->
    <section class="about-low-area section-padding2">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 col-md-10" >
                    <div class="about-caption mb-50">
                        <!-- Section Tittle -->
                        <div class="section-tittle mb-35">
                            <span>About our foundation</span>
                            <h2>JSSWM is a non-profitable voluntary organization serves the needy focusing there to aplip in the needy people such as Slum,Leper,Tribal-Communities living in context proverty and injustice to become self-sufficient and bring lasting change, over a decade. </h2><br>
                            <h2>Hanoch Putra, Founder and President,  Jacob Sundar Putra, Vice-President- working  through the committee, every month there is a council meeting to finalize the charity activities through resolutions passed by the committee.</h2><br>
                            <h2 class="text-bold text-uppercase">Vision:  Know Jesus And Make Him Known With Love And Care. Serving All The Needy With No Caste And Creed</h2>
                            <h2 ></h2><br>
                            <h2>“i Was Hungry And You Gave Me Something To Eat, I Was Thirsty And You Gave Me Something To Drink, I Was Stranger And You Invited Me In, I Needed Clothes And You Clothed Me, I Was Sick And You Looked After Me, I Was In Prison And You Came To Visit Me” [matthew 25:35-37]</h2><br>
                            <h2>the total population of India is 150 crore [1500 million]
                                Christians 3.22 crores [32 millions]
                                The goal of JSSWM is to reach the unreached
                                </h2>
                        </div>
                        <p><b>1.Child Health and Nutrition</b><br><b>2.Education</b><br><b>3.Livelihood and Resilience</b><br><b>4.Gender and Women Empowerment</b><br><b>5.Disability</b></p>

                    </div>
                    <a href="about.html" class="btn">About US</a>
                </div>
                <div class="col-lg-6 col-md-12">
                    <!-- about-img -->
                    <div class="about-img " >
                        <div class="about-font-img d-none d-lg-block">
                            <img src="assets/img/gallery/about2.png" alt="">
                        </div>
                        <div class="about-back-img ">
                            <img src="assets/img/gallery/about1.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- <div class="our-cases-area section-padding30">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
   
                    <div class="section-tittle text-center mb-80">
                        <span>Our Cases you can see</span>
                        <h2>Explore our latest causes that we works </h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="assets/img/gallery/case1.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Ensure Education For Every Poor Children</a></h3>
                            
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="assets/img/gallery/case2.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Providing Healthy Food For The Children</a></h3>
                           
                           
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-6">
                    <div class="single-cases mb-40">
                        <div class="cases-img">
                            <img src="assets/img/gallery/case3.png" alt="">
                        </div>
                        <div class="cases-caption">
                            <h3><a href="#">Supply Drinking Water For  The People</a></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   -->
    <!--? Team Ara Start -->
    <div class="team-area pt-160 pb-160">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-xl-6 col-lg-7 col-md-10 col-sm-10">
                    <!-- Section Tittle -->
                    <div class="section-tittle section-tittle2 text-center mb-70">
                        <span>What we are doing</span>
                        <h2>Our Jsswm Founders</h2>
                    </div> 
                </div>
            </div>
            <div class="row" >
                <!-- <div class="col-lg-3 col-md-6 col-sm-6" ng-repeat="x in founderslist">
                    <div class="single-team mb-30" >
                        <div class="team-img">
                            <img src="assets/founders/{{x.name}}.jpg" alt="">
                        </div>
                        <div class="team-caption">
                            <h3><a href="#">{{x.name}}</a></h3>
                            <p>{{x.designation}}</p>
                        </div>
                    </div>
                </div> -->
              
                
            </div>
        </div>
    </div>
   

    <!-- <div class="testimonial-area testimonial-padding">
        <div class="container">
            <div class="section-tittle text-center mb-80">
                <span>Testimonys</span>
                <h2>Explore our latest causes that we works </h2>
            </div>

            <div class="row d-flex justify-content-center">
                <div class="col-xl-8 col-lg-8 col-md-10">
                    <div class="h1-testimonial-active dot-style">
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40">
                                        <img src="assets/img/gallery/testimonial.png" alt="">
                                        <span>Margaret Lawson</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40">
                                        <img src="assets/img/gallery/testimonial.png" alt="">
                                        <span>Margaret Lawson</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                </div>
                            </div>
                        </div>
                        <div class="single-testimonial text-center">
                            <div class="testimonial-caption ">
                                <div class="testimonial-founder">
                                    <div class="founder-img mb-40">
                                        <img src="assets/img/gallery/testimonial.png" alt="">
                                        <span>Margaret Lawson</span>
                                        <p>Creative Director</p>
                                    </div>
                                </div>
                                <div class="testimonial-top-cap">
                                    <p>“I am at an age where I just want to be fit and healthy our bodies are our responsibility! So start caring for your body and it will care for you. Eat clean it will care for you and workout hard.”</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
   -->
   
   
    