<header>
    <!-- Header Start -->
    <div class="header-area">
        <div class="main-header ">
            <div class="header-top d-none d-lg-block">
                <div class="container-fluid">
                    <div class="col-xl-12">
                        <div class="row d-flex justify-content-between align-items-center">
                            <div class="header-info-left d-flex">
                                <ul class="text-center">     
                                    <li>Phone: +91 9099</li>
                                    <li>Email: testmail.com</li>
                                </ul>
                                <!-- <div class="header-social">    
                                     <ul>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a  href="https://www.facebook.com/sai4ull"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li> <a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                                    </ul> 
                                </div> -->
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
            <div class="header-bottom  header-sticky">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <!-- Logo -->
                        <div class="col-xl-2 col-lg-2">
                            <div class="logo">
                                <a href="index.html"><img src="assets/img/logo/1.png" width="200px" alt=""></a>
                            </div>
                        </div>
                        <div class="col-xl-10 col-lg-10">
                            <div class="menu-wrapper  d-flex align-items-center justify-content-end">
                                <!-- Main-menu -->
                                <div class="main-menu d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">                                                                                          
                                            <li><a href="index.html">{{title}}</a></li>
                                            <li><a href="about.html">About</a></li>
                                            <!-- <li><a href="program.html">latest causes</a></li> -->
                                            <li><a href="events.html">social events </a></li>
                                           <li><a href="gallery.html">Gallery</a></li>
                                            <li><a href="videos.html">Videos</a></li>
                                            <li><a href="upcoming.html">Upcoming Project Requirements</a></li>
                                            <li><a href="contact.html">Contact</a></li>
                                       <li><button class="button"onclick="window.location.href='donate.html'">Donate</button></li>                                               
                                        </ul>
                                    </nav>
                                </div>
                               
                            </div>
                        </div> 
                        <!-- Mobile Menu -->
                        <div class="col-12">
                            <div class="mobile_menu d-block d-lg-none"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>